# === Environment and credentials ===
*.env
*.conf

# === Output files ===
*.csv
*.json
*.xlsx

# === Cache files ===
folder_cache.json
org_cache.json

# === Python cache and artifacts ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === Logs ===
*.log

# === Selenium downloads ===
chromedriver*

# === GitGuardian Cache ===
*.cache_ggshield