# === Environment and credentials ===
.env

# === Output files ===
*.csv
*.json

# === Cache files ===
folder_cache.json
org_cache.json

# === Python cache and artifacts ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === VS Code settings (optional) ===
.vscode/

# === Logs ===
*.log

# === Selenium downloads (optional) ===
chromedriver*

# === GitGuardian Cache ===
*.cache_ggshield


# === Powershell Credentials
*\config.ps1

# === Exclude testing scripts ===
Test-*.ps1